<%= stylesheet_link_tag 'top' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<div id="routeSearchForm">
  <div class ="inputForm">
    <div><input id="inputBegin" type="text" placeholder="出発地"></div>
    <div><input id="inputEnd" type="text" placeholder="目的地"></div>
  </div>
    <div class="toggle-container">
        <input type="checkbox" id="highwaysToggle" class="toggle">
        <label for="highwaysToggle">高速道路を使用する</label>
    </div>
    <button id="searchButton">検索</button>
    <%= button_to "決定", {}, {method: :get, id: "confirmButton", class: "button"} %>


</div>


<div id="map_canvas"></div>
<div id="directionsPanel"></div>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
var map, begin, end;
var directionsDisplay;
var directionsService;
var avoidHighways = true; // 高速道路使用有無（デフォルトは使用しない）

function initMap() {
    initialize();
}

// searchButtonがクリックされたら関数発火
$('#searchButton').click(function(e) {
    e.preventDefault();
    begin = $('#inputBegin').val(); // 開始地点
    end   = $('#inputEnd').val(); // 終了地点
    avoidHighways = $('input[name="highways"]:checked').val() === 'no'; // トグルで判断
    $('#directionsPanel').text(' ');
    initialize(); // 初期化
    calcRoute(begin, end); // ルート計算
});

function initialize() {
    var latlng = new google.maps.LatLng(35.6895, 139.6917);  // マップの中心点（東京）

    // オプション
    var myOptions = {
        zoom: 14,
        center: latlng,
        scrollwheel: false,     // ホイールでの拡大・縮小
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    };

    // #map_canvasを取得し、[mapOptions]の内容の、地図のインスタンス([map])を作成する
    map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

    // 経路を取得
    directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directionsPanel'));     // 経路詳細
}

// ルート取得
function calcRoute(begin, end) {

    var request = {
        origin: begin,         // 開始地点
        destination: end,      // 終了地点
        travelMode: google.maps.TravelMode.DRIVING,     // [自動車]でのルート
        avoidHighways: avoidHighways,       // 高速道路有無
    };

    // インスタンス作成
    directionsService = new google.maps.DirectionsService();

    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var leg = route.legs[0];
        } else {
            alert('ルートが見つかりませんでした…');
        }
    });
}

// 決定ボタンがクリックされたらデータをセッションストレージに保存してから画面遷移
$('#confirmButton').click(function(e) {
    e.preventDefault();

    // 距離と時間を取得
    var km = $('.adp-summary span[jstcache="25"]').text();
    var time = $('.adp-summary span[jstcache="51"]').text();

    // セッションストレージに保存
    sessionStorage.setItem('km', km);
    sessionStorage.setItem('time', time);
    // extraのセッションをリセット
    $.ajax({
    type: 'POST',
    url: '/tops/reset_session',
    data: { authenticity_token: $('meta[name="csrf-token"]').attr('content') },
    success: function() {
    // km,timeの保存とextraのリセットが完了したら、画面遷移を行う
    window.location.href = "/gasolines/new";
    }
    });
});


</script>
