<%= form_with url: highways_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :start_place, '出発IC' %>
    <%= f.text_field :start_place %>
  </div>

  <div>
    <%= f.label :arrive_place, '到着IC' %>
    <%= f.text_field :arrive_place %>
  </div>

  <div>
    <%= f.label :car_type, '自動車タイプ' %>
    <%= f.select :car_type, options_for_select([['普通車', '1'], ['軽自動車', '0']]) %>
  </div>

  <%= f.submit '検索' %>
<% end %>
