<%= form_with url: highways_path, local: true, id: 'main_form', data: { turbo: false } do |f| %>
  <div>
    <%= f.label :start_place, '出発IC' %>
    <%= f.text_field :start_place, id: "start_place" %>
  </div>

  <div>
    <%= f.label :arrive_place, '到着IC' %>
    <%= f.text_field :arrive_place, id: "arrive_place" %>
  </div>

  <div>
    <%= f.label :car_type, '自動車タイプ' %>
    <%= f.select :car_type, options_for_select([['普通車', '1'], ['軽自動車', '0']]) %>
  </div>

  <div>
    <%= f.label :date, '日付' %>
    <%= f.date_field :date %>
    <%= f.label :hour, '時間' %>
    <%= f.select :hour, options_for_select((0..23).to_a.map { |h| h.to_s.rjust(2, '0') }) %>
    <%= f.label :minute, ':' %>
    <%= f.select :minute, options_for_select((0..50).step(10).to_a.map { |m| m.to_s.rjust(2, '0') }) %>
  </div>

  <div>
    <%= f.label :kind, '出発', value: 1 %>
    <%= f.radio_button :kind, '1' %>

    <%= f.label :kind, '到着', value: 2 %>
    <%= f.radio_button :kind, '2' %>
  </div>

  <%= f.submit '検索' %>
<% end %>


  <div>
    <%= form_with url: save_highway_info_highways_path, local: true do |f| %>
      <p><%= f.number_field :highway_cost %>円</p>
      <div><%= f.submit '次へ' %></div>
    <% end %>
  </div>

<%= form_with url: 'https://www.driveplaza.com/dp/SearchQuick', method: :get, local: true, id: 'external_form', style: 'display: none;' do |f| %>
  <%= hidden_field_tag :startPlaceKana, nil, id: 'startPlaceKana' %>
  <%= hidden_field_tag :arrivePlaceKana, nil, id: 'arrivePlaceKana' %>
  <%= hidden_field_tag :searchHour, nil, id: 'searchHour' %>
  <%= hidden_field_tag :searchMinute, nil, id: 'searchMinute' %>
  <%= hidden_field_tag :kind, nil, id: 'kind' %>
  <%= hidden_field_tag :carType, nil, id: 'carType' %>
  <%= hidden_field_tag :priority, '2' %>
  <%= hidden_field_tag :keiyuPlaceKana, '' %>
  <%= hidden_field_tag :keiyuPlaceKana2, '' %>
  <%= hidden_field_tag :keiyuPlaceKana3, '' %>
  <%= hidden_field_tag :searchYear, nil, id: 'searchYear' %>
  <%= hidden_field_tag :searchMonth, nil, id: 'searchMonth' %>
  <%= hidden_field_tag :searchDay, nil, id: 'searchDay' %>
  <%= hidden_field_tag :selectickindflg, '0' %>
<% end %>



<script>

document.addEventListener('DOMContentLoaded', function() {
  const mainForm = document.getElementById('main_form');
  const externalForm = document.getElementById('external_form');
  
  //デフォルトのフォーム送信をキャンセルし、fetchを使用して非同期のPOSTリクエストを送信
  mainForm.addEventListener('submit', function(event) {
    event.preventDefault();

    fetch(mainForm.getAttribute('action'), {
      method: mainForm.getAttribute('method'),
      body: new FormData(mainForm),
      credentials: 'include'
    })
    .then(response => {
      if (response.ok) {
        // メインのフォームのデータを取得
        const formData = new FormData(mainForm);

        // フォームの値をセッションストレージに保存
        Array.from(mainForm.elements).forEach(function(element) {
          if (element.name) {
            sessionStorage.setItem(element.name, formData.get(element.name));
          }
        });

        // 外部サイトへのフォームのデータを設定
        document.getElementById('startPlaceKana').value = formData.get('start_place');
        document.getElementById('arrivePlaceKana').value = formData.get('arrive_place');
        document.getElementById('searchHour').value = formData.get('hour');
        document.getElementById('searchMinute').value = formData.get('minute');
        document.getElementById('kind').value = formData.get('kind');
        document.getElementById('carType').value = formData.get('car_type');
        const date = formData.get('date').split('-');
        document.getElementById('searchYear').value = date[0];
        document.getElementById('searchMonth').value = parseInt(date[1], 10); // 月を整数に変換
        document.getElementById('searchDay').value = parseInt(date[2], 10); // 日を整数に変換

        // 外部サイトへのフォームを送信
        externalForm.submit();
      } else {
        alert('エラーが発生しました。');
      }
    });
  });
});


</script>