<%= form_with url: highways_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :start_place, '出発IC' %>
    <%= f.text_field :start_place, id: "start_place" %>
  </div>

  <div>
    <%= f.label :arrive_place, '到着IC' %>
    <%= f.text_field :arrive_place, id: "arrive_place" %>
  </div>

  <div>
    <%= f.label :car_type, '自動車タイプ' %>
    <%= f.select :car_type, options_for_select([['普通車', '1'], ['軽自動車', '0']]) %>
  </div>

  <div>
    <%= f.label :date, '日付' %>
    <%= f.date_field :date %>
    <%= f.label :time, '時間' %>
    <%= f.time_select :time, minute_step: 10 %>
  </div>

  <div>
    <%= f.label :kind, '出発', value: 1 %>
    <%= f.radio_button :kind, '1' %>

    <%= f.label :kind, '到着', value: 2 %>
    <%= f.radio_button :kind, '2' %>
  </div>


  <%= f.submit '検索' %>
<% end %>


  <div>
      <label for="high-cost">料金</label>
      <input type="number" id="highway_cost" step="1">
  </div>

<button id="save-highway-button" class="button">次へ</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  const saveHigheayButton = document.getElementById('save-highway-button');
  saveHigheayButton.addEventListener('click', function(e){
    e.preventDefault();

    const startPlace = document.getElementById('start_place').value;
    const arrivePlace = document.getElementById('arrive_place').value;
    const cost = document.getElementById('highway_cost').value;

    // フォームの入力値と高速料金をサーバーに保存
    $.ajax({
      url: '/highways/save_highway_info',
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: {
        'highway_cost': cost,
        'start_place': startPlace,
        'arrive_place': arrivePlace
      },
      success: function() {
        // 保存が完了したら、画面遷移を行う
        window.location.href = "/results";
      }
    });
  });
});
</script>