<div id="<%= dom_id @extra %>">
  <p>
    <strong>名前:</strong>
    <%= @extra.category %>
  </p>
  <p>
    <strong>金額:</strong>
    <%= @extra.aomount %>
  </p>
</div>
<div>
  <%= link_to "編集", edit_extra_path(@extra) %>
  <%= link_to "戻る", extras_path %>
  <%= button_to "削除", @extra, method: :delete %>
</div>